@import reset.css;

*{box-sizing: border-box;}

.body-container{
    height: 100vh;
    font-size: 10px;
}

header{
    padding:70px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    height: 100%;
    background-color:gray;
    color:#E7473C;
    width: 530px;
}

.header-top{
    padding-top: 30px;
}

header h1{
    font-size:45px; 
}

header p{
    font-size: 15px;
}

header nav ul {
    padding: 0;
    display:flex;
}

header nav li {
    list-style: none;
    margin: 2.5px;
}

main{
    margin: auto;
}

.splash{
    display:none;
}